html {
    height: 100%;
}
body {
    position: relative;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    margin: 0 auto;
    padding: 0.5em;
    color: #222;
    word-break: break-all;
    min-width: 18em;
    background: radial-gradient(#aaa 15%, transparent 16%) 0 0,
                radial-gradient(#aaa 15%, transparent 16%) 8px 8px,
                radial-gradient(rgba(255,255,255,.1) 15%, transparent 35%) 0 1px,
                radial-gradient(rgba(255,255,255,.1) 15%, transparent 35%) 8px 9px;
    background-color:#bbb;
    background-size: 16px 16px;
}
h1 {
    font-size: 1.6em;
    font-weight: bold;
    margin: 0.1em 0.1em 1em 0.1em;
    clear: right;
    text-shadow: 0 1px 3px gray;
}
h1 a {
    color: #222;
    transition: text-shadow 1s;
}
h1 a:hover {
    text-decoration: none;
    text-shadow: 40px -20px 20px gray;
}
a {
    color: #888;
    text-decoration: none;
}
a:hover {
    color: #222;
    text-decoration: underline;
}
input[type=text] {
    font-family: monospace;
}
input[type=submit] {
  cursor: pointer;
}
.box {
    margin: 0.2em;
    padding: 0.4em;
    background: #ccc;
    box-shadow: 0 1px 2px gray;
    border-radius: 0.2em;
}
.box:hover {
    background: #ddd;
    box-shadow: 0 2px 4px gray;
}

.login, .controls {
    font-size: 0.8em;
    float: right;
    clear: right;
}
.error {
    color: red;
    font-weight: bold;
}
.error:empty {
    display: none;
}
.row {
    background: #eee;
    box-shadow: none;
    margin: 0.25em;
    padding: 0.25em;
}
.row:hover {
    background: #fff;
}
.row div{
    display: inline-block;
    vertical-align: top;
}
.row .date {
    float: left;
}
.row .link {
    float: right;
}
.clean {
    padding: 0;
    margin: 0;
}
#content {
    padding: 1em;
}
.wysihtml5-sandbox{
    width: 99%;
    height: 20em;
}